[Desktop Entry]
Type=Application
Name=
GenericName=
Comment=
Keywords=
Exec=
TryExec=
Path=
Terminal=false
Icon=
Categories=
MimeType=
StartupNotify=false
StartupWMClass=
OnlyShowIn=
Actions=
